* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --accent-color: #fff;
    --gradient-color: #FBFBFB;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: from-image;

}

.sidebar {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: linear-gradient(black, gray, orange));
    transition: all .5s ease;
}

.sidebar header {
    font-size: 28px;
    color: #353535;
    line-height: 70px;
    text-align: center;
    background-color: orange;
    user-select: none;
    font-family: 'Lato', sans-serif;
}

.sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: #353535;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    font-family: 'Lato', sans-serif;
    transition: all .5s ease;
}

a.active,
a:hover {
    border-left: 5px black;
    color: #fff;
    background: linear-gradient(to left, gray, black));
}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    left: 5px;
    cursor: pointer;
    color: orange;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-color: orange;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        inset -7px -7px 10px 0px rgba(0, 0, 0, .1),
        3.5px 3.5px 20px 0px rgba(0, 0, 0, .1),
        2px 2px 5px 0px rgba(0, 0, 0, .1);
    height: 45px;
    width: 45px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    line-height: 45px;
    transition: all .5s ease;
    \1F47B;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}

#check:checked~label #cancel {
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}

@media(max-width : 860px) {
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }

    header,
    #btn,
    #cancel {
        display: none;
    }

    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a {
        height: 60px;
    }

    .sidebar a i {
        margin-left: -10px;
    }

    a:hover {
        width: 200px;
        background: inherit;
    }

    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
}

.sidebar>a.active,
.sidebar>a:hover:nth-child(even) {
    --accent-color: #52d6f4;
    --gradient-color: #c1b1f7;
}

.sidebar a.active,
.sidebar>a:hover:nth-child(odd) {
    --accent-color: #c1b1f7;
    --gradient-color: #A890FE;
}


.frame {
    width: 50%;
    height: 30%;
    margin: auto;
    text-align: center;
}

h1 {
    color: white;
    font-size: 100px;
}

h2 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 20px;
    margin: 0;
    color: white;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    color: black;
    margin: 0;
}

/* css for spider animation on home page */
html:hover .spider {
    top: -120%;
}

.spider {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 30%;

    /* 4. Animatie */
    animation: swing 2s infinite;
    transform-origin: top;

    /* Bonus */
    transition: 1s ease-in-out;

}

.spider .spiderweb {
    width: 2px;
    height: 200px;
    margin-left: 49px;
    background: rgba(255, 255, 255, .7);
}

.spider .body {
    width: 100px;
    height: 80px;
    background: white;
    position: relative;
    border-radius: 50%;
}

.spider .body .eye {
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 20px;
    background: black;
    border-radius: 50%;
}

.spider .body .eye.left {
    left: 15px;
}

.spider .body .eye.right {
    right: 15px;
}

.spider .body .eye:after {
    background: white;
    width: 7px;
    height: 7px;
    content: '';
    display: block;
    margin: 55%;
    border-radius: 50%;

    /* 3. Animatie */
    animation: look 8s infinite;
}

.spider .legs .leg {
    width: 80px;
    height: 40px;
    margin-top: -20px;
    border: 5px solid transparent;
    border-top-color: white;
    border-radius: 40px 40px 0 0;
}

.spider .legs {
    position: absolute;
    bottom: -10%;
    z-index: -1;
}

.spider .legs.left {
    left: -70%;
}

.spider .legs.right {
    right: -60%;
}


.legs.left .leg:nth-child(1) {
    transform: rotate(10deg);
    margin-left: 10px;
}

.legs.right .leg:nth-child(1) {
    transform: rotate(-10deg);
    margin-left: -10px;
}


.legs.left .leg:nth-child(2) {
    transform: rotate(-20deg);
    margin-left: 20px;
}

.legs.right .leg:nth-child(2) {
    transform: rotate(20deg);
    margin-left: -20px;
}


.legs.left .leg:nth-child(3) {
    transform: rotate(-50deg);
    margin-left: 30px;
}

.legs.right .leg:nth-child(3) {
    transform: rotate(50deg);
    margin-left: -30px;
}

/* 1. Animatie */
@keyframes look {

    0%,
    40%,
    100% {
        transform: translateX(0);
    }

    45%,
    95% {
        transform: translateX(-110%);
    }
}


/* 3. Animatie */
@keyframes swing {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* end of animation for spider */

/* trunk showcase start */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.trunk-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 200px;
    text-align: center;
}

.trunk {
    position: relative;
    width: 300px;
    margin: 20px;
}

.trunk-image {
    width: 100%;
    border: 5px solid #ff751a;
    /* Halloween Orange */
    transition: transform 0.3s ease;
}

.trunk-image:hover {
    transform: scale(1.1);
}

.trunk-description {
    display: none;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #ff751a;
    /* Halloween Orange */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}

h3 {
    color: #ff751a;
    /* Halloween Orange */
    text-shadow: 2px 2px 8px white;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

/* trunk showcase end */

/* schedule page css start */
.schedule {
    margin-top: 20px;
}

.event {
    margin-bottom: 30px;
}

.event-title {
    font-size: 1.8rem;
    color: #ff751a;
    cursor: pointer;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 5px #000;
}

.event-title:hover {
    color: #ffa31a;
    /* Lighter Halloween Orange */
}

.event-details {
    display: none;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin-top: 10px;
}

.event-details img {
    max-width: 100%;
    border: 3px solid #ff751a;
    /* Halloween Orange */
    margin-bottom: 10px;
}

.event-details p {
    font-size: 1.2rem;
    color: #ff751a;
}

/* schedule page end */